// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel-body {
    background-color: rgba( 255, 255, 255, 0.6);
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.thai {
    margin-left: 0.2em;
}

.thai-word {
    font-size: 2.4em;
}
.content-area {
    margin-top: 0.2em;
}
.japanese-word {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
.english-word {
    font-size: 1.2em;
}
.remark {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}