// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel-body {
    background-color: rgba( 255, 255, 255, 0.6);
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.cm_image img{
  width: 300px;
  height: 300px;
  border: solid 1px #999999;
}

.container-fluid {
    padding-top: 61px;
}
