<div class="brand">ぷれータイ</div>
    <div class="address-bar">タイ在住日本人によるタイ日辞書サイトです</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" >ぷれータイ</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="[ visible-xs ]">
						<form action="#" method="GET" role="search">
							<div class="[ input-group ]">
								<input type="text" class="[ form-control ]" name="q" placeholder="日本語またはタイ語">
								<span class="[ input-group-btn ]">
									<button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-search"></span></button>
									<button class="btn btn-danger" type="reset"><span class="glyphicon glyphicon-remove"></span></button>
								</span>
							</div>
						</form>
					</li>
                    <li class="hidden-xs">
                        <a href="#toggle-search" class="animate">単語検索</a>
                    </li>
                    <li>
                        <a href="#">例文一覧</a>
                    </li>
                    <li>
                        <a href="#">タイ語フォント一覧</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <div class="[ words-search animate ]">
			<div class="[ container ]">
				<form action="#" method="GET" role="search">
					<div class="[ input-group ]">
						<input type="text" class="[ form-control ]" name="q" placeholder="日本語またはタイ語">
						<span class="[ input-group-btn ]">
							<button class="btn btn-danger" type="reset"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						</span>
					</div>
				</form>
			</div>
		</div>
        <!-- /.container -->
    </nav>
    
    <script>
    $(function() { 
        $('a[href="#toggle-search"], .navbar-default .words-search .input-group-btn > .btn[type="reset"]').on('click', function(event) {
        event.preventDefault();
		$('.navbar-default .words-search .input-group > input').val('');
		$('.navbar-default .words-search').toggleClass('open');
		$('a[href="#toggle-search"]').closest('li').toggleClass('active');

		if ($('.navbar-default .words-search').hasClass('open')) {
			setTimeout(function() { 
				$('.navbar-default .words-search .form-control').focus();
			}, 100);
		}			
	});

	$(document).on('keyup', function(event) {
		if (event.which == 27 && $('navbar-default .words-search').hasClass('open')) {
			$('a[href="#toggle-search"]').trigger('click');
		}
	});
    
});
    </script>